body {
    font-family: Helvetica, Arial, sans-serif;
}

/* #wrapper */
@media (min-width: 600px) and (max-width: 800px) {
    main {
        width: 550px;
        margin: auto;
    }
}

@media (min-width: 800px) {
    main {
        width: 750px;
        margin: auto;
    }
}

#title {
    grid-area: title;
    text-align: center;
}


#content {
    grid-area: content;
}

#menu {
    grid-area: menu;
    display: grid;
    grid-auto-rows: minmax(35px, auto);
}

@media (max-width: 600px) {
    #menu {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 600px) {
    #menu {
        grid-template-columns: repeat(3, 1fr);
    }
}

.menu-item {
    text-align: center;
    border: 1px solid #ddd;
    font-size: 18px;
}

/* blocks */
.block {
    margin: 20px 0px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.content {
    padding: 0px 20px;
}

/* titles and headers */

@media (max-width: 800px) {
    h1 {
        font-size: 35px;
    }
}

@media (min-width: 800px) {
    h1 {
        font-size: 60px;
    }
}

h3 {
    font-size: 18px;
}
