@charset "utf-8";

$blue: #006992;
$green: #79AEA3;
$orange: #F49E4C;
$dark: #0E131F;
// $dark: #FF0000;
$light: #F1E3F3;
// $light: #00FF00;

$primary: $blue;
$info: $green;
$text: $dark;
$title-color: $dark;
$navbar-title-color: $light;
// $footer-background-color: $light;

// Import Bulma
@import "../bulma/bulma.sass";

// Import Bulma-timeline
@import "../bulma-timeline/dist/css/bulma-timeline.sass";

// Import Bulma-list
@import "../bulma-list/sass/bulma-list.sass";


// sitename is a subtitle with normal navbar color
.navbar-sitename {
    @extend .subtitle;
    color: $navbar-background-color;
}


@media(max-width: $tablet) {
    .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
    }
}
