@charset "utf-8";

$blue: #006992;
$green: #79AEA3;
$orange: #F49E4C;
$dark: #0E131F;
// $dark: #FF0000;
$light: #F1E3F3;
// $light: #00FF00;

$primary: $blue;
$info: $light;
$text: $dark;
$title-color: $dark;
$navbar-title-color: $light;
// $footer-background-color: $light;

$border: $primary;
$footer-padding: 3rem 1.5rem 3rem;

// Use Fira Sans & Fira Code fonts
/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Sans:ital,wght@0,400;0,600;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
$family-sans-serif: "Fira Sans";
$family-monospace: "Fira Code";

$notification-radius: 0px;

// Import Bulma
@import "../bulma/bulma.sass";

// $timeline-icon-size: $size-6;
$timeline-content-padding: 1em 0 0 3em;

// Import Bulma-timeline
@import "../bulma-timeline/dist/css/bulma-timeline.sass";

// Import Bulma-list
@import "../bulma-list/sass/bulma-list.sass";


// sitename is a subtitle with normal navbar color
.navbar-sitename {
    @extend .subtitle;
    color: $navbar-background-color;
}


@media(max-width: $tablet) {
    .reverse-columns {
        flex-direction: column-reverse;
        display: flex;
    }
}

.has-rounded-corners {
    border-radius: 5%;
}

.is-link-icon {
    fill: $primary;
}

// sticky footer/navbar
// see https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
body > main {
    flex: 1;
}

// hide vertical scrollbar when not necessary
html {
    overflow-y: auto;
}

// custom ul bullets
.content ul {
    list-style-type: '> ';
    list-style-position: outside;
    margin-left: 1em;
    margin-top: 1em;
}

.content table td {
    padding: 0em 0.5em;
    border: none;
}

.tile.is-ancestor  {
    margin-bottom: 0px !important;
}
.tile.is-parent.is-vertical:first-child {
    padding: 1rem 1.5rem;
}

@mixin tile-background($name, $color) {
    .tile.is-#{$name} {
        background-color: #{$color};
    }
}
@include tile-background(white, $white);
@include tile-background(grey-lighter, $grey-lighter);

.resume-section-title {
    display: table;
    position: relative;
}
.resume-section-title:after {
    content: '';
    width: 60px;
    height: 4px;
    background: gray;
    position: absolute;
    bottom: -1rem;
    display: block;
}

.resume-title {
    @extend .title;
    @extend .is-1;
    @extend .is-uppercase;
    @extend .has-text-weight-bold;
    @extend .is-family-monospace;
}

.resume-subtitle {
    @extend .subtitle;
    @extend .is-3;
    @extend .is-uppercase;
    @extend .has-text-weight-normal;
    @extend .is-family-monospace;
}

.resume-section-title {
    @extend .title;
    @extend .is-uppercase;
    @extend .is-4;
    @extend .has-text-weight-normal;
}

.resume-subsection-title {
    @extend .title;
    @extend .is-5;
    @extend .has-text-weight-bold;
    @extend .is-family-monospace;
}

.resume-subsection-subtitle {
    @extend .subtitle;
    @extend .is-6;
    @extend .is-italic;
}
