---
template: 'html/default.template.html'
title: About me
image: /images/about.jpg
text: |
  Hi. My name is [Brecht Serckx](https://brechtserckx.be). I am approximately 27 years old.   
  I live in the beautiful city of [Leuven](https://leuven.be), together with my girlfriend and my fur baby.  
  I have obtained my Bachelor's degree in Engineering Science and Masters in Computer Science at the [University of Leuven](https://kuleuven.be)  
  <br>
  My main tools of trade are Haskell and Nix, with them I explore the touching points between functional programming and software architecture.  
  <br>
  In the free time that I don't spend with my Cat behind my Computer in my Cave, I plant potatoes or take a walk with aforementioned cat. 
  I can enjoy an occasional glass of wine or beer in front of my tv.
---
<div class="columns reverse-columns ">

    <div class="column is-two-thirds">
        <!-- small introduction text about this website -->
        $text$
    </div>

    <div class="column">
        <!-- image of myself -->
        <figure class="image">
            <img src="$image$" class="has-rounded-corners" />
        </figure>
    </div>

</div>
