<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>$sitename$ - $title$</title>
    <link rel="stylesheet" href="/css/default.css" />
    <script defer="defer" src="/js/default.js" type="text/javascript"></script>
</head>

<body>
    <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <span class="navbar-sitename is-3">
                    $sitename$
                </span>
            </a>

            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbar" class="navbar-menu">
            <div class="navbar-end">
                <a href="/" class="navbar-item">
                    Home
                </a>
                <a href="/about.html" class="navbar-item">
                    About Me
                </a>
                <a href="/professional.html" class="navbar-item">
                    Professional
                </a>
                <a href="/projects.html" class="navbar-item">
                    Projects
                </a>

            </div>
    </nav>

    <main role="main" class="section">
        <div class="container">
            <h1 class="title is-1">$title$</h1>
            $body$
        </div>
    </main>

    <footer class="footer">
        <div class="content">$footer$</div>
    </footer>
</body>

</html>
