<!-- small introduction text about this website -->
<div class="block">
    $body$
</div>

<!-- curriculum -->
<h2 class="title is-4">$curriculum$</h2>

<div class="timeline">
    $for(items)$
    <div class="timeline-item is-info">
        <div class="timeline-marker is-image is-$iconsize$x$iconsize$">
          <img src="$icon$" width="$iconsize$" height="$iconsize$"  >
        </div>
        <div class="timeline-content">
            <p class="title is-4">$date$: $title$</p>
            $if(subtitle)$
            <p class="subtitle is-6"><i>$subtitle$</i></p>
            $endif$
            $body$
        </div>
    </div>
    $endfor$
</div>
